# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
clambda

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html
coverage.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db

# CDK specific
cdk/node_modules/
cdk/cdk.out/
cdk/*.js
cdk/*/*.js.map
cdk/*/*.d.ts
cdk/*/*.cdk.staging/
